<?xml version="1.0" ?>

<plugin>
    <extension point="org.protege.editor.owl.inference_reasonerfactory"
               id="snorocket.factory">
        <name value="Snorocket"/>
        <class value="au.csiro.snorocket.protege.ProtegeReasonerFactory"/>
    </extension>
    <extension point="org.protege.editor.core.application.EditorKitHook"
               id="snorocket.init">
    	<class value="au.csiro.snorocket.protege.SnorocketProtegePluginInstance"/>
    	<editorKitId value="OWLEditorKit"/>
    </extension>
</plugin>
